.clickable {
  transition: transform 0.2s ease, opacity 0.2s ease;
  display: inline-block;
  transform-origin: center center;
  cursor: pointer;
}

.clickable:hover {
  transform: scale(1.15);
}

.inactive {
  opacity: 0.5;  /* робимо іконку прозорішою */
  cursor: default; /* курсор не активний */
}
