<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Якщо файл або папка існує — віддавати їх напряму
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # ВСІ інші запити — index.html для React Router
  RewriteRule ^ index.html [QSA,L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
</IfModule>
