/* Звичайний режим (або світла тема) */
.comments-text-wrapper-last {
  color: #333; /* Темно-сірий текст */
}

/* Темна тема: змінюємо колір тексту, коли батьківський елемент має клас 'dark-theme' */
.dark-theme .comments-text-wrapper-last {
  color: #ccc; /* Світло-сірий або білий текст */
}