/* Фільтр прорахунків */
.content-filter {
    text-align: left;
    border-right: 1px dashed var(--grey-border-color);
}

.content-filter .search-orders {
    width: calc(100% - 28px);
    padding: 10px 14px;
    margin-bottom: 14px;
    border: 1px dashed var(--grey-border-color);
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-color);
}

.content-filter .search-orders::placeholder {
    color: var(--grey-text-color);
}

.content-filter .search-orders:focus {
    outline: none;
    border: 1px solid var(--info-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.content-filter .filter {
    list-style: none;
    padding: 0;
    margin: 0;
}



.content-filter .filter li {
    cursor: pointer;
    padding: 9px 14px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content-filter .filter li:hover {
    background-color: #fff;
    border: 1px dashed var(--grey-border-color);
}

.content-filter .filter li.active {
    background-color: #fff;
    border: 1px dashed var(--grey-border-color);
}

.content-filter .filter li .icon {
    margin-right: 14px;
}

.content-filter .filter li span:last-child {
    background-color: var(--info-color);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 5px;
}

.content-filter .filter .delimiter {
    border-bottom: 1px dashed var(--grey-border-color);
    margin: 7px 0; /* вертикальні відступи */
    height: 0;      /* щоб не було висоти */
    pointer-events: none;
}


.btn-add-calc {
    background-color: var(--success-color);
    color: #fff;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    padding: 7px 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 14px;
}

.btn-add-calc:hover {
    opacity: 0.8;
}
.content-filter .filter-item {
  display: flex;
  justify-content: space-between; /* текст і лічильник на різні сторони */
 
  padding: 9px 14px;

  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.content-filter .filter-item .left-content {
  display: flex;
  align-items: center;
  gap: 10px; /* відстань між іконкою і текстом */
}

.content-filter .filter-item .icon {
  margin-right: 5px;
}

.content-filter .filter-item span:last-child {
  /* лічильник справа */
  background-color: var(--info-color);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
  border-radius: 5px;
}
